body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

/* Reset styles start */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	/* text-align: center; */
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


h1 {
	font-size: 30px;
	margin: 0px 0px 30px 0px;
}
h2 {
	font-size: 16px;
	margin: 0px 0px 15px 0px;
	color: rgb(37, 19, 233);
}
h3 {
	font-size: 15px;
	margin: 0px 0px 5px 0px;
}
h4 {
	text-align: center;
	margin: 0px 0px 15px 0px;
	font-size: 20px;
}
h5 {
	text-align: center;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
	font-size: 30px;
}
li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: disc;
 }

.container {
	width: 1400px;
	margin: 0 auto;
	min-height: 1000px;
	margin: 0 auto; /* top and bottom, right and left */
	text-align: left; /* top, right, bottom, left */
	padding: 20px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
/* ---------Reset styles end--------- */
.items {
	padding: 10px 0;
}

.items__container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}
.items__body {
	display: grid;
	/* grid-template-rows: repeat(3, 200px); */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
	/* grid-auto-rows: 30%;
	grid-auto-columns: 30%;
	grid-column-gap: 3%; */
	/* grid-row-gap: 30%; */
}
.item__video {
	position: relative;
	margin: 0 0px 50px 0;
	/* aspect-ratio: 16 / 9; */
	padding: 0px 0px 100px 0px;
}
/* .item__video_protrait {
	position: relative;
	margin: 0 0 0 0;
	padding: 0px 0px 20px 0px;
} */
.item__video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 288px;
	height: 128px;
	object-fit: cover;
}
.item__text {
	font-size: 15px;
	line-height: 150%;
  color: rgb(37, 19, 233);
}